html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}

#content {
    display: grid;
    grid-template: 200px 1fr 50px / 1fr;
    background: url(./images/pizza.jpeg);
    background-repeat: repeat;
    height: 100vh;
}

header {
    background-color: black;
    opacity: 80%;
    height: 200px;
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 100px);
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 70px;
}

header>button {
    height: 50px;
    border: none;
    background: none;
    padding: 0px;
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: .25s;
    color: white;
}

header>button:focus,
.active {
    border-bottom: 2px solid white;
}

header>button:hover {
    transform: translateY(-5px);
}

.body {
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
}

.body-content {
    background-color: black;
    opacity: 80%;
    border-radius: 10px;
    margin: 50px 0;
    box-shadow: 0 0 10px white;
}

.home-container{
    color: white;
    font-size: 1.5rem;
    display: grid;
    grid-template: repeat(4, 1fr)  / 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.menu-container {
    color: white;
}

.pizza {
    background: url(./images/pizza.jpeg);
    background-size: 100%;
    width: 200px;
    height: 100%;
    background-repeat: no-repeat;

}

footer {
    background-color: black;
    opacity: 80%;
    display: grid;
    grid-template: 1fr / 1fr;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}